<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #e0e0e0;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.instagram.com/dffraga/"> Desiree Fraga </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->