<div class="post container">
<h1 class="tituloPost">{{postagens.titulo}}</h1>
    {{!-- <hr>
        <small id="categoria" name="categoria"><b>{{postagens.categoria}}</b></small>
    <br>
        <small>Publicada em: {{postagens.data}}</small> --}}
    <hr>
        <p class="conteudo">
            {{postagens.conteudo}}
        </p>
</div>