<h1 class="titulo">Acesse já </h1>
<br/>
<div class="login card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <input type="text" id="email" name="email" class="form-control" placeholder="E-mail de acesso" required>
            <br/>
            <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>    
            <button type="submit" class="btn btn-block btn-success mt-4">Entrar</button>
            <br/>
                <small><a href="/usuarios/registro">Ainda não possui conta? Cadastre-se aqui!</a></small>
        </form>
    </div>
</div>